@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scroller {
    animation: 50s scroll alternate infinite;
    display: flex;
}   

@keyframes scroll {
    from { 
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}